.h1{
    font-size: 120px;
}

.image img{
    width: 110px;
    height: 110px;
}
.image{
    margin-top: 20px;
    margin-bottom: 15px;
}
.spann{
    color: #FFFFFF;
}
.nen{
    background-color: black;
    color:#FFFFFF;
}
.nen:hover{
    background: #084298;
}