.img-fluid {
   margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    float:left;
}
.viet1{
    margin-top: 5px;
    padding-bottom: 18px;
}
.form-select{
    margin-top: 5px;
    padding-bottom: 10px;
}
.d-flex{
    margin-top: 5px;
    padding-bottom: 50px;
}
.plon{
    padding-bottom: 40px;
}
.Categories{
    margin-top: 5px;
    padding-bottom: 30px;
}
.RecentProducts{
    margin-top: 5px;
    padding-bottom: 20px;
}
.conten{
    padding-top: 20px;
}
.jacket{
    padding-top: 23px;
    padding-bottom: 35px;
}
.wedding{
    padding-top: 23px;
    padding-bottom: 35px;
}
.fullshirt{
    padding-top: 23px;
    padding-bottom: 35px;
}
.heelshoe{
    padding-top: 23px;
    padding-bottom: 25px;
}
.anh6cai{
    width: 200px;
    height: 50px;
}